/* So textarea looks modern: rounded edges, no border, shadow, etc.  */
/* Textarea styling (and other input styling) based upon https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/*/
textarea {
    resize: vertical;
    padding:15px;
    margin-left: 100px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }

  /* Changing style of other input fields to match textarea */
  select {
    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  input[type="date"] {

    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  } 

  input[type="time"] {
    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }
  
  input[type="text"] {
    resize: vertical;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  /* manipulating inputs to line up together */
  .form-input{
    padding-left: 57px;
  }

  .page-subheading{
    padding-left: 50px;
  }

  .distance-input{
    margin-left: 20px;
  }

  /* Change table text color */
  table{
      color:white;
  }

  /* Add cool background image */
  body {
    color:white;
    background-image: url(../images/runner2.jpg);
    background-size: 100% auto;
  }

  /* Fix footer at bottom of page */
  footer{
      color:white;
      position: fixed;
      bottom: 0;
  }

  